{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'members.css' %}" />
    <title>Tech</title>
  </head>
  <body>
    <header>
      <img
        src="{% static 'assets/member.jpeg' %}"
        alt="Uma pessoa feliz no computador"
        class="logo"
      />
    </header>

    <main>
      <h1>Área de Membros</h1>
      <p>Uma área para os membros logados na Aplicação</p>
      <div class="logout-btn-container">
        <a href="{% url 'account_logout' %}" class="logout-btn">
          <button class="logout">Logout</button>
        </a>
    </div>
    </main>
  </body>
</html>
